@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #D2601F;
  --color-surface-dark: #3B1A2B;
  --color-bg-light: #FDF1E8;
  --color-star: #F2B705;
  --color-text-dark: #221217;
}

/* Custom Utilities for the curved panels */
.curve-bottom {
  clip-path: ellipse(120% 100% at 50% 0%);
}

.curve-top {
  clip-path: ellipse(120% 100% at 50% 100%);
}

.curve-arc {
  clip-path: ellipse(50% 100% at 50% 100%);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

